<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.14" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.13400" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>